header.header
    .container
        .header-top.row
            .col-auto
                .logo
                    a(href="/").logo__link: img(src="./img/logo.png" alt="#").logo__image
            .col-auto
                nav.main-menu
                    ul
                        li: a(href="#") О компании
                        li: a(href="#") Услуги и цены
                        li: a(href="#") Наши работы
                        li: a(href="#") Контакты
            .col-auto
                .social.row.no-gutters
                    .col-auto: a(href="#").social__item
                    .col-auto: a(href="#").social__item
                    .col-auto: a(href="#").social__item
                    .col-auto: a(href="#").social__item
        .header-bottom.row
            .col-auto
                p.tagline Центр автостайлинга, детейлинга и рекламы на транспорте в Иркутске и Улан-Удэ
            .col-auto
                .phone
                    p Для частных лиц
                        span пн-пт 9 – 19, сб-вс 11 – 17
                    a(href="#") 34-71-57
            .col-auto
                .phone
                    p Для компаний
                        span пн-пт 9 – 18
                    a(href="#") 33-94-33
            .col-auto
                a(href="#").button Заказать звонок