.container
    .advantages
        .row.no-gutters
            .col-md-6
                .advantages-car: img(src="./img/advantages_car.png" alt="#").advantages-car__image
            .col-md-6
                h2 Почему клиенты доверяют нам?
                p Что люди ценят в нашей компании больше всего? #[br]Мы выполняем работу как для себя. Над каждым автомобилем трудится целая команда профессионалов: мастера, дизайнеры, менеджеры и административный персонал. Никаких задержек и ошибок в процессе выполнения заказа – мы единый механизм. Четко следуем пожеланиям клиента и даем свои рекомендации. Делаем все, чтобы вы остались довольны!
            h3 И еще 6 секретов успеха компании Автограф
            .row
                .col-md-4
                    .advantages-item
                        .advantages-item__icon: img(src="./img/" alt="#")
                        p.advantages-item__name Только лучшие материалы
                        p.advantages-item__text Используем автопленку европейских и американских производителей: 3M, ORACAL, HEXIS, KPMF, и защитные покрытия Ceramic PRO и Krytex 9
                .col-md-4
                    .advantages-item
                        .advantages-item__icon: img(src="./img/" alt="#")
                        p.advantages-item__name Свои помещения для оклейки
                        p.advantages-item__text Собственные теплые боксы для грузовых и легковых автомобилей. Все боксы оборудованы камерами и сигнализацией. Можно оставить транспорт на ночь
                .col-md-4
                    .advantages-item
                        .advantages-item__icon: img(src="./img/" alt="#")
                        p.advantages-item__name Высокое качество печати
                        p.advantages-item__text Весь материал печатаем на оборудовании с фотокачеством экосольвентными чернилами. Четкая передача цвета и деталей рисунка
                .col-md-4
                    .advantages-item
                        .advantages-item__icon: img(src="./img/" alt="#")
                        p.advantages-item__name Настоящая гарантия
                        p.advantages-item__text Знаем и соблюдаем все технологии, поэтому не боимся давать гарантию: 6 месяцев на все услуги+ до 3 лет на материалы
                .col-md-4
                    .advantages-item
                        .advantages-item__icon: img(src="./img/" alt="#")
                        p.advantages-item__name Продолжительный срок службы
                        p.advantages-item__text При печати мягкими экосольвентными чернилами не разрушается слой клея. Это позволяет сохранить срок службы пленки, заявленный производителем
                .col-md-4
                    .advantages-item
                        .advantages-item__icon: img(src="./img/" alt="#")
                        p.advantages-item__name Профессиональный подход
                        p.advantages-item__text Обучаем и проводим аттестацию всех мастеров. Единственные в Иркутске сертифицированные в Russian Wrapping School по детейлингу и оклейке пленками.