.partners
    .container
        h2 Наши корпоративные клиенты
        .partners-items
            .row
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image
                .col-auto: img(src="./img/partners/1.png" alt="#").partners-image