.video.light
    .container
        .logo
            a(href="/").logo__link: img(src="./img/logo.png" alt="#").logo__image
        h2 Центр стайлинга и детейлинга  «Автограф»
        p С 2002 года делаем автомобили своих клиентов уникальными. Первые на рынке Восточной Сибири предложили услуги автостайлинга: аэрографию и винилографию. Предоставляем полный комплекс услуг детейлинга: очистка и полировка кузова, покрытие защитными составами –  нанокерамикой, жидким стеклом, а также защиту от сколов пленкой. Для бизнеса у нас есть услуги по брендированию коммерческого транспорта и транзитной рекламе, печать на интерьерных станках любой продукции высокого разрешения. За 15 лет выполнили более 10 000 заказов и не собираемся останавливаться на достигнутом. Мы делаем свою работу с любовью!
        .video-container
            iframe(width="100%" height="720" src="https://www.youtube.com/embed/oZuUIu-iWAI?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)