.gallery.light
    .container
        h2 примеры работ, которыми мы гордимся
        .gallery-slider
            .gallery-slide
                .row
                    .col-md-6
                        a(href="#").gallery-slide__item
                            .gallery-slide__image: img(src="./img/gallery/1.png" alt="#")
                            p.gallery-slide__caption Оклейка авиапарка «ИрАэро»
                    .col-md-6
                        a(href="#").gallery-slide__item
                            .gallery-slide__image: img(src="./img/gallery/2.png" alt="#")
                            p.gallery-slide__caption Крупные торговые компании
                    .col-md-6
                        a(href="#").gallery-slide__item
                            .gallery-slide__image: img(src="./img/gallery/3.png" alt="#")
                            p.gallery-slide__caption Дорогие автомобили
                    .col-md-6
                        a(href="#").gallery-slide__item
                            .gallery-slide__image: img(src="./img/gallery/4.png" alt="#")
                            p.gallery-slide__caption Участники «БайкалМоторШоу»
        p Это только малая часть выполненных проектов компанием Автограф. Все работы смотрите на странице наши работы