
<div class="brands">
  <div class="container">
    <h2>Работаем только с европейскими и американскими пленками</h2>
    <div class="row">
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/1.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/2.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/3.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/4.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/5.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/6.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/7.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/8.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/9.png" alt="#"/></div>
      </div>
      <div class="col">
        <div class="brands-item"><img class="brands-item__image" src="./img/brands/10.png" alt="#"/></div>
      </div>
    </div>
  </div>
</div>