.tabs
    .container
        .tabs-panel.row.no-gutters
            .col: a(href="#tab-1").tabs-panel__link
            .col: a(href="#tab-2").tabs-panel__link
            .col: a(href="#tab-3").tabs-panel__link
            .col: a(href="#tab-4").tabs-panel__link
        .tabs-content-block
            #tab-1.tabs-content
                .tabs-content__top
                    h2
                    p
                    .tabs-content__tags
                        a(href="#")
                        a(href="#")
                        a(href="#")
                .tabs-content__bottom: a(href="#").button
            #tab-2.tabs-content
                .tabs-content__top
                    h2
                    p
                    .tabs-content__tags
                        a(href="#")
                        a(href="#")
                        a(href="#")
                .tabs-content__bottom: a(href="#").button
            #tab-3.tabs-content
                .tabs-content__top
                    h2
                    p
                    .tabs-content__tags
                        a(href="#")
                        a(href="#")
                        a(href="#")
                .tabs-content__bottom: a(href="#").button
            #tab-4.tabs-content
                .tabs-content__top
                    h2
                    p
                    .tabs-content__tags
                        a(href="#")
                        a(href="#")
                        a(href="#")
                .tabs-content__bottom: a(href="#").button
