.tabs
    .container
        .tabs-panel.row.no-gutters
            .col: a(href="#tab-1").tabs-panel__link Автостайлинг
            .col: a(href="#tab-2").tabs-panel__link Антигравийная защита
            .col: a(href="#tab-3").tabs-panel__link Детейлинг
            .col: a(href="#tab-4").tabs-panel__link Реклама на транспорте
        .tabs-content-block
            #tab-1.tabs-content
                .tabs-content__top
                    h2 Автомобильная графика
                    p Оклейка авто виниловой пленкой: самый быстрый и безопасный способ преобразить ваш автомобиль #[br]Всего за пару дней обновим кузов и салон вашего автомобиля
                    .tabs-content__tags
                        a(href="#") Винилография
                        a(href="#") Наклейки на автомобиль
                        a(href="#") Аквапринт
                .tabs-content__bottom: a(href="#").button узнать подробнее
            #tab-2.tabs-content
                .tabs-content__top
                    h2 Антигравийная защита от сколов
                    p Защита кузова автомобиля от сколов и царапин прозрачными полиуретановыми пленками. #[br]Всего 2 часа работы и ЛКП вашей техники в сохранности до 5 лет!
                    .tabs-content__tags
                        a(href="#") Для автомобилей
                        a(href="#") Для мотоциклов
                        a(href="#") Для катеров и яхт
                        a(href="#") Для вертолетов и самолетов
                .tabs-content__bottom: a(href="#").button узнать подробнее
            #tab-3.tabs-content
                .tabs-content__top
                    h2 Услуги детейлинга
                    p Чистка и полировка автомобилей, нанесение защитных жидких покрытий #[br]Восстановим прежний блеск и сохраним вид нового автомобиля надолго
                    .tabs-content__tags
                        a(href="#") Полировка
                        a(href="#") Жидкое стекло
                        a(href="#") Нанокерамика
                .tabs-content__bottom: a(href="#").button узнать подробнее
            #tab-4.tabs-content
                .tabs-content__top
                    h2 Реклама на транспорте
                    p Брендирование коммерческих автомобилей и реклама снаружи и внутри общественного транспорта #[br]Реклама с максимальным охватом потребителей в разных частях города и области
                    .tabs-content__tags
                        a(href="#") Реклама на общественном транспорте
                        a(href="#") Брендирование коммерческих  автомобилей
                        a(href="#") Реклама в салонах общественного транспорта
                        a(href="#") Быстросъемная реклама и магнитные наклейки
                .tabs-content__bottom: a(href="#").button узнать подробнее
