.tabs
    .container
        .tabs-panel.row.no-gutters.justify-content-between
            .col-auto: a(href="#tab-1").active.tabs-panel__link.row.align-items-center.no-gutters.justify-content-center
                .col-auto: .tabs-panel__icon.__icon_1: img(src="./img/tabs/1.png" alt="#")
                .col-auto: span Автостайлинг
            .col-auto: a(href="#tab-2").tabs-panel__link.row.align-items-center.no-gutters.justify-content-center
                .col-auto: .tabs-panel__icon.__icon_2: img(src="./img/tabs/2.png" alt="#")
                .col-auto: span Антигравийная защита
            .col-auto: a(href="#tab-3").tabs-panel__link.row.align-items-center.no-gutters.justify-content-center
                .col-auto: .tabs-panel__icon.__icon_3: img(src="./img/tabs/3.png" alt="#")
                .col-auto: span Детейлинг
            .col-auto: a(href="#tab-4").tabs-panel__link.row.align-items-center.no-gutters.justify-content-center
                .col-auto: .tabs-panel__icon.__icon_4: img(src="./img/tabs/4.png" alt="#")
                .col-auto: span Реклама на транспорте
        .tabs-content-block
            #tab-1.active.tabs-content(style="background-image: url('./img/tabs/slider/1.jpg')")
                .tabs-content__top
                    h2 Автомобильная графика
                    p Оклейка авто виниловой пленкой: самый быстрый и безопасный способ преобразить ваш автомобиль #[br]Всего за пару дней обновим кузов и салон вашего автомобиля
                    .tabs-content__tags.row.justify-content-center
                        .col-auto: a(href="#") Винилография
                        .col-auto: a(href="#") Наклейки на автомобиль
                        .col-auto: a(href="#") Аквапринт
                .tabs-content__bottom: a(href="#").button узнать подробнее
            #tab-2.tabs-content(style="background-image: url('./img/tabs/slider/2.jpg')")
                .tabs-content__top
                    h2 Антигравийная защита от сколов
                    p Защита кузова автомобиля от сколов и царапин прозрачными полиуретановыми пленками. #[br]Всего 2 часа работы и ЛКП вашей техники в сохранности до 5 лет!
                    .tabs-content__tags.row.justify-content-center
                        .col-auto: a(href="#") Для автомобилей
                        .col-auto: a(href="#") Для мотоциклов
                        .col-auto: a(href="#") Для катеров и яхт
                        .col-auto: a(href="#") Для вертолетов и самолетов
                .tabs-content__bottom: a(href="#").button узнать подробнее
            #tab-3.tabs-content(style="background-image: url('./img/tabs/slider/3.jpg')")
                .tabs-content__top
                    h2 Услуги детейлинга
                    p Чистка и полировка автомобилей, нанесение защитных жидких покрытий #[br]Восстановим прежний блеск и сохраним вид нового автомобиля надолго
                    .tabs-content__tags.row.justify-content-center
                        .col-auto: a(href="#") Полировка
                        .col-auto: a(href="#") Жидкое стекло
                        .col-auto: a(href="#") Нанокерамика
                .tabs-content__bottom: a(href="#").button узнать подробнее
            #tab-4.tabs-content(style="background-image: url('./img/tabs/slider/4.jpg')")
                .tabs-content__top
                    h2 Реклама на транспорте
                    p Брендирование коммерческих автомобилей и реклама снаружи и внутри общественного транспорта #[br]Реклама с максимальным охватом потребителей в разных частях города и области
                    .tabs-content__tags.row.justify-content-center
                        .col-auto: a(href="#") Реклама на общественном транспорте
                        .col-auto: a(href="#") Брендирование коммерческих  автомобилей
                        .col-auto: a(href="#") Реклама в салонах общественного транспорта
                        .col-auto: a(href="#") Быстросъемная реклама и магнитные наклейки
                .tabs-content__bottom: a(href="#").button узнать подробнее
