.reviews
    .container
        .reviews-title__icon: img(src="./img/reviews/icon.png" alt="#")
        h2 отзывы
        .reviews__row.row
            .col-md-6
                .reviews-item
                    .reviews-item__top
                        .reviews-item__image: img(src="./img/reviews/main.png" alt="#")
                        .reviews-item__desc
                            p.reviews-item__name Lorem ipsum
                            p dolor sit amet, consectetur adipiscing elit. Morbi lobortis, nibh quis consequat bibendum, lacus quam ultricies erat, nec ullamcorper arcu turpis ac nisi. Duis egestas ex id feugiat scelerisque.
                    .reviews-item__bottom.row
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
            .col-md-6
                .reviews-item
                    .reviews-item__top
                        .reviews-item__image: img(src="./img/reviews/main.png" alt="#")
                        .reviews-item__desc
                            p.reviews-item__name Lorem ipsum
                            p dolor sit amet, consectetur adipiscing elit. Morbi lobortis, nibh quis consequat bibendum, lacus quam ultricies erat, nec ullamcorper arcu turpis ac nisi. Duis egestas ex id feugiat scelerisque.
                    .reviews-item__bottom.row
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
                        .col-md-3: img(src="./img/reviews/second.png" alt="#")
        a(href="#").reviews__show-more: span Показать больше отзывов