.services
    .container
        h2 Наши услуги
        .services__row.row
            .col-md-3.col-sm-6.col-xs-12
                .services-item
                    .services-item__image: img(src="./img/services/1.jpg" alt="#")
                    .services-item__desc
                        .services-item__icon: img(src="./img/services/icons/1.png" alt="#")
                        p.services-item__name Винилография
                        p.services-item__text Полная или частичная оклейка виниловой пленкой или наклейками
            .col-md-3.col-sm-6.col-xs-12
                .services-item
                    .services-item__image: img(src="./img/services/2.jpg" alt="#")
                    .services-item__desc
                        .services-item__icon: img(src="./img/services/icons/2.png" alt="#")
                        p.services-item__name Антигравийная пленка
                        p.services-item__text Защита кузова от сколов и царапин прозрачной полиуретановой пленкой
            .col-md-3.col-sm-6.col-xs-12
                .services-item
                    .services-item__image: img(src="./img/services/3.jpg" alt="#")
                    .services-item__desc
                        .services-item__icon: img(src="./img/services/icons/3.png" alt="#")
                        p.services-item__name Детейлинг
                        p.services-item__text Полировка кузова авто, защита жидким стеклом и нанокерамикой
            .col-md-3.col-sm-6.col-xs-12
                .services-item
                    .services-item__image: img(src="./img/services/4.jpg" alt="#")
                    .services-item__desc
                        .services-item__icon: img(src="./img/services/icons/4.png" alt="#")
                        p.services-item__name Реклама на транспорте
                        p.services-item__text Брендирование автомобилей, реклама на трамваях, троллейбусах и автобусах
            .col-md-6.col-xs-12
                .services-item.row.no-gutters
                    .col-md-6
                        .services-item__image: img(src="./img/services/5.jpg" alt="#")
                    .col-md-6
                        .services-item__desc
                            .services-item__icon: img(src="./img/services/icons/5.png" alt="#")
                            p.services-item__name Тонировка зданий
                            p.services-item__text Оклейка стеклянных фасадов цветной, солнцезащитной или светоотражающей зеркальной пленкой и бронирование стекол
            .col-md-6.col-xs-12
                .services-item.row.no-gutters
                    .col-md-6
                        .services-item__image: img(src="./img/services/6.jpg" alt="#")
                    .col-md-6
                        .services-item__desc
                            .services-item__icon: img(src="./img/services/icons/6.png" alt="#")
                            p.services-item__name Интерьерная печать
                            p.services-item__text Печать фотообоев, любой рекламной продукции, печать на холсте, изготовление наклеек и стикеров высокого качества и любого размера