footer.footer
    .footer-top
        .container
            nav.footer-menu.footer-top__row.row
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#")
                        li.footer-menu__main-item: a(href="#")
                        li.footer-menu__main-item: a(href="#")
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
                        li: a(href="#")
    .footer-bottom
        .container
            .footer-bottom__row
                .col-auto
                    .logo
                        a(href="/").logo__link: img(src="./img/logo.png" alt="#").logo__image
                .col-auto
                    p.copiright
                        b © 2002-2017 "Автограф
                        | Центр автостайлинга, детейлинга и рекламы на транспорте в Иркутске и Улан-Удэ
                .col-auto
                    p Для частных лиц: #[strong 34-71-57] (пн-пт 9 – 19, сб-вс 11 – 17)
                    .social.row.no-gutters
                        .col-auto: a(href="#").social__item
                        .col-auto: a(href="#").social__item
                        .col-auto: a(href="#").social__item
                        .col-auto: a(href="#").social__item
                .col-auto
                    p Для компаний: #[strong 33-94-33] (пн-пт 9 – 18)
                .col-auto
                    a(href="#").button Заказать звонок