footer.footer
    .footer-top
        .container
            nav.footer-menu.footer-top__row.row.justify-content-between
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#") Автостайлинг
                        li: a(href="#") Замена цвета плёнкой
                        li: a(href="#") Винилография
                        li: a(href="#") Виниловые наклейки
                        li: a(href="#") Аквапринт
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#") Детейлинг
                        li: a(href="#") Полировка
                        li: a(href="#") Нанокерамика
                        li: a(href="#") Жидкое стекло
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#") Реклама на транспорте
                        li: a(href="#") Брендирование авто
                        li: a(href="#") Реклама на общественном транспорте
                        li: a(href="#") Внутрисалонная реклама
                        li: a(href="#") Магнитный винил
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#") Реклама на транспорте
                        li.footer-menu__main-item: a(href="#") Интерьерная печать
                        li.footer-menu__main-item: a(href="#") Тонировка зданий
                .col-auto
                    ul
                        li.footer-menu__main-item: a(href="#") автограф
                        li: a(href="#") О компании
                        li: a(href="#") Услуги
                        li: a(href="#") Проекты
                        li: a(href="#") Контакты
    .footer-bottom
        .container
            .footer-bottom__row.row.light.align-items-center.justify-content-between.flex-nowrap
                .col-auto
                    .logo
                        a(href="/").logo__link: img(src="./img/logo.png" alt="#").logo__image
                .col-auto
                    p.copyright
                        b © 2002-2017 "Автограф"
                        | Центр автостайлинга, детейлинга и рекламы на транспорте в Иркутске и Улан-Удэ
                .col-auto
                    p Для частных лиц: #[strong 34-71-57] #[br](пн-пт 9 – 19, сб-вс 11 – 17)
                    .social.row.no-gutters
                        .col-auto: a(href="#").social__item: img(src="./img/social/1.svg")
                        .col-auto: a(href="#").social__item: img(src="./img/social/2.svg")
                        .col-auto: a(href="#").social__item: img(src="./img/social/3.svg")
                        .col-auto: a(href="#").social__item: img(src="./img/social/4.svg")
                .col-auto
                    p Для компаний: #[strong 33-94-33] #[br](пн-пт 9 – 18)
                .col-auto
                    a(href="#").button Заказать звонок