extends _layout.pug

block header
    include components/header/_header

block footer
    include components/footer/_footer

block content
    main.main-content
        include components/tabs/_tabs
        include components/video/_video
        include components/services/_services
        include components/advantages/_advantages
        include components/brands/_brands
        include components/gallery/_gallery
        include components/partners/_partners
        include components/reviews/_reviews