extends _layout.pug

block header
    include components/header/_header

block footer
    include components/footer/_footer

block content
    include components/tabs/_tabs
    include components/video/_video
    include components/services/_services
    main.main-content