.callback
    .container
        h2 Нужна консультация по подбору услуг? #[br]Оставьте номер, и мы свяжемся с вами в течение 15 минут.
        form(action="#" method="post").form-send
            .form-send__row.row.justify-content-center
                .col-md-3: .form-send__group: input(type="text" name="name" placeholder="Имя")
                .col-md-3: .form-send__group: input(type="text" name="phone" placeholder="Телефон" required)
                .col-md-3: .form-send__group: button(type="submit").button Позвоните мне