.callback
    .container
        h2
        form(action="#" method="post").form-send
            .form-send__row.row
                .col-md-4: .form-send__group: input(type="text" name="name" placeholder="Имя")
                .col-md-4: .form-send__group: input(type="text" name="phone" placeholder="Телефон" required)
                .col-md-4: .form-send__group: button(type="submit").button Позвоните мне