.footer-bottom {
  padding: 35px 0;
  background: url("../img/black_bg.jpg") repeat top left;

  p {
    font-size: 16px;
    text-align: left;
    color: #e5e5e5;

    strong {
      font-weight: 600;
      font-size: 18px;
    }
  }

  .social {
    margin-top: 20px;
  }
}

.copyright {
  max-width: 265px;
  font-size: 16px;
  text-align: left;
  color: #e5e5e5;

  b {
    color: #f46415;
    font-weight: 400;
    display: block;
  }
}

.footer-top {
  padding: 35px 0;
  background: url("../img/footer_bg.png") no-repeat top left / cover;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    font-size: 16px;
    text-align: left;
    color: #3f4553;
    transition: all .3s ease-out;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: inherit;
    }

    & + li {
      margin-top: 10px;
    }
  }

  .footer-menu__main-item {
    font-size: 20px;
    font-weight: 700;
    color: #8494ac;
    border-bottom: 2px solid #aab3c2;
    text-transform: uppercase;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}