/*---- Screen sizes ----*/
$screen-sm: 575px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;

/*----Colors scheme----*/
$color-orange: #f78000;
$color-black: #3f4553;
$color-grey: #868a94;
